@font-face {
    font-family: "Logoplexi";
    src: url('../fonts/logoplexi.ttf')
}
* {
    font-family: "Logoplexi", sans-serif;
    color: darkslategray;
}

body {
    margin: auto;
    text-align: center;
    align-items: center;
    float: none;
    background-color: aliceblue;
    width: 70%;
    border: 5px solid peachpuff;
}

header {
    border-bottom: 5px solid peachpuff;
}

#title {
    border-bottom: 5px solid peachpuff;
    margin-top: 5px;
}

#subtitle {
    line-height: 12px;
    margin-bottom: 20px;
}

#error{
    color: red;
}

#options {
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-left: 9px;
    font-size:12px;
}

#textpad {
    display: none;
    margin:auto;
    width: 40%; 
    max-width: 70%; 
    min-width: 30%; 
    height: 320px; 
    resize: vertical;
    font-family: sans-serif;
}

button {
    background-color: rgb(143, 143, 253);
    font-family: "Times New Roman";
}

.submission > input {
    background-color: rgb(143, 143, 253);
    font-family: "Times New Roman";
}

#editNote {
    margin: auto;
    display: none;
}

#username {
    font-family: sans-serif;
}

#removeNote {
    margin: auto;
    display: none;
}

#note {
    text-align: left;
    align-items: center;
    display: none;
    margin: auto;
    width: auto; 
    max-width: 15%; 
    min-width: 5%; 
}

#display {
    margin: auto;
    display: none;
}

h5 {
    margin: auto;
    display: none;
}

.submission {
    margin: auto;
    align-items: center;
}

.submission input[type="button"] {
    margin: auto;
    display: none;
}

input[type="button"], button[type="button"] {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 2px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -20px;
}

footer {
    text-align: center;
    float: none;
    margin-top: -12px;
}

#note li {
    list-style: none;
}

